:root {
    --color-primary: #1B998B;
    --color-secondary: #F8F1FF;
    --color-tertiary: #DECDF5;
    --color-button: #A297B6;
    --color-button-hover: #656176;
    --color-button-hover2: #105c54;
    --color-text: #534D56;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

img{
    width: 40%;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 2px solid #000;
    border-radius: 4rem 4rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 3.5rem;
    font-family: "Arial", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 1rem;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:disabled{
    background-color: var(--color-tertiary);
    color: var(--color-text);
    cursor: not-allowed;
    opacity: 0.4;
}

.button-add:hover {
    background-color: #a1a1a1;
}

.btn-eliminar {
    border: none; 
    color: var(--color-primary); 
    font-size: 1rem; 
    padding: 2.5px; 
    margin-left: 10px; 
    border-radius: 4px;

}

.btn-eliminar:disabled {
    display: none;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    margin-top: 20px;
}

li{
    margin: 15px;
}

.result-list {
    margin: 40px;
    padding: 20px;
    color: #AD6A6C;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


.result-list:empty{
    display: none;
}
      
.spinner {
    display: none;
    margin: 20px;
    width: 60px;
    aspect-ratio: 1;
    background: linear-gradient(#AD6A6C 0 0) bottom/100% 0% no-repeat #ccc;
    -webkit-mask: 
      radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, 
      radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right, 
      linear-gradient(to bottom left, #000 42%,#0000 43%) bottom left , 
      linear-gradient(to bottom right,#000 42%,#0000 43%) bottom right;
    mask:
    radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, 
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right, 
    linear-gradient(to bottom left, #000 42%,#0000 43%) bottom left , 
    linear-gradient(to bottom right,#000 42%,#0000 43%) bottom right;

    -webkit-mask-size: 50% 50%;
    mask-size: 50% 50%;;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;;
    animation: l19 1.5s infinite linear;
  }
  @keyframes l19 {
      90%,100% {background-size:100% 100%}
  }

/* Botón de sortear título */

.button-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 30px;
}

.button-draw,
.button-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    font-size: 0.9rem; 
    width: 200px;
    color: var(--color-white);
    gap: 10px;

}

.button-draw {
    background-color: var(--color-button);
}

.button-reset {
    background-color: var(--color-primary);
}

.button-draw:disabled, 
.button-reset:disabled{
    color: var(--color-text);
    cursor: not-allowed;
    opacity: 0.4;
}

.button-draw img {
    width: 20px; 
    margin-right: 5px;
}
.button-reset img {
    width: 25px; 
}
.button-draw:hover{
    background-color: var(--color-button-hover);
}

.button-reset:hover{
    background-color: var(--color-button-hover2);
}

/* Media Queries para dispositivos móviles y tabletas */

/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {

    .header-banner {
        gap: 10px;
    }    

    img{
        width: 60%;
    }

    .section-title {
        font-size: 1.2rem;
    }
    
    .button-add {
        width: 35%;
        font-size: 0.7rem;
        padding: 0;
    }

    .input-name::placeholder {
        font-size: 0.8rem;
    }

    .result-list {
        font-size: 1.1rem;
        margin: 30px;
        padding: 15px;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
        margin-top: 0;
    }

    .button-draw, .button-reset {
        width: 100%;
        font-size: 0.8rem;
    }

}

/* Pantallas de tamaño medio (tabletas) */
@media (max-width: 768px) {
    .main-title {
        font-size: 2.5rem;
    }

    img {
        width: 50%;
    }

    .section-title {
        font-size: 1.7rem;
    }

    .input-wrapper {
        max-width: 80%;
    }

    .input-name::placeholder {
        font-size: 1rem;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }

    .result-list {
        font-size: 1.6rem;
    }
}
