:root {
    --color-primary: #1B998B;
    --color-secondary: #F8F1FF;
    --color-tertiary: #DECDF5;
    --color-button: #A297B6;
    --color-button-hover: #656176;
    --color-text: #534D56;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

img{
    width: 40%;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 3.5rem;
    font-family: "Arial", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 1rem;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:disabled{
    background-color: var(--color-tertiary);
    color: var(--color-text);
    cursor: not-allowed;
    opacity: 0.4;
}

.button-add:hover {
    background-color: #a1a1a1;
}

.btn-eliminar {
    border: none; 
    color: var(--color-primary); 
    font-size: 1rem; 
    padding: 2.5px; 
    margin-left: 10px; 
    border-radius: 4px;

}

.btn-eliminar:disabled {
    display: none;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #AD6A6C;
;    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear título */

.button-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.button-draw,
.button-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Reducido */
    font-size: 0.9rem; /* Tamaño de texto más pequeño */
    width: auto; /* No ocupa todo el ancho */
    min-width: 150px; /* Ajustar tamaño mínimo */
    max-width: 200px; /* Ajustar tamaño máximo */
    color: var(--color-white);
    background-color: var(--color-button);
    gap: 10px;

}

.button-draw:disabled, 
.button-reset:disabled{
    background-color: var(--color-tertiary);
    color: var(--color-text);
    cursor: not-allowed;
    opacity: 0.4;
}

.button-draw img {
    width: 20px; 
    margin-right: 5px;
}
.button-reset img {
    width: 25px; 
}
.button-draw:hover,
.button-reset:hover {
    background-color: var(--color-button-hover);
}
